/OWTP2PSampleMFC/x64
/OWTP2PSampleMFC/.vs
/OWTP2PSampleMFC/P2PSampleMFC/x64
/pytest/__pycache__
/pytest/libs
/pytest/tests/__pycache__
/pytest/tests/libs/__pycache__
/DisplayWPF_Net47/imgui.ini
/pytest/.coverage
/pytest/auto_test.cmd
/pytest/coverage.xml
/pytest/htmlcov
/pytest/junit
/pytest/test-output.xml
/owt-server-p2p/__pycache__
/clumsy/__pycache__
/DisplayWPF_Net47/__pycache__
/proto/generated/__pycache__
/test-output.xml
